# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.egg-info/
*.egg

# Logs
*.log
logs/
logs_small/


checkpoints/
*.pth
*.pt

# Dataset images / tar files
*.jpg
*.jpeg
*.png
*.tar
*.zip

# Allow images inside media folder
!media/
!media/*.jpg
!media/*.jpeg
!media/*.png

# Data directories (large datasets)
data/

# Pretrained models
pretrained_models/

# Jupyter notebooks
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
*.tmp

# Environment
.env